
body{
  font-family: "Verdana";
  color: black;
  margin: 0;
  font-size: 46px;
}

ul{
  list-style: none;
}
.mapboxgl-ctrl-attrib{
  display: none !important;
}
.content{
  padding: 50px 100px;
}
.search-control, .zoomin-control, .zoomout-control{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  pointer-events: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
.search-control button, .zoomin-control button, .zoomout-control button {
  width: 100px;
  height: 100px;
}
.search-control .fas, .zoomin-control .fas, .zoomout-control .fas{
  font-size: 50px;
}
.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-top-left{
  margin: 50px;
}
#map .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  margin: 0 50px 50px 0;
    font-family: "Verdana";
}
#map .mwz-ctrl-floors .mwz-floor-button{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 48px;
}
#map .mwz-ctrl-floors .mwz-floor-button.mwz-selectedFloor, .mwz-ctrl-floors .mwz-floor-button.mwz-selectedFloor:hover{
  background-color: #fad23c;
  color: white;
  font-weight: bold;

}

.mapboxgl-marker.mwz-marker {
  background-image: url('marker.png') !important;
  background-size: 100% 100%;
  width: 75px;
  height: 75px;
}

.facility-icon{
  width: 75px;
  height: 75px;
  vertical-align: middle;
}

.link-with-icon{
  display: block;
  height: 75px;
}
