#header{
  height: 566px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
h1{
  font-size: 112px;
  padding-top: 100px;
  padding-left: 390px;
  margin: 0;
}
.fas{
  font-size: 220px;
  float: left;
  padding: 120px 0 0 180px;

}
